@import "../styles/shared/colors";
@import "../styles/shared/mixins";

.post {
  flex: 1 0 30%;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
  margin: 0.5rem;
  background: white;


  @include respond(tab-land) {
    flex: 1 0 40%;
  }

  @include respond(phone) {
    flex: 1 0 80%;
  }
}